<p id="notice"><%= notice %></p>

<p>
  <span class="glyphicon glyphicon-camera"> </span><strong>&nbsp; Foto:</strong>
  <%= @product.foto %>
</p>

<p>
  <span class="glyphicon glyphicon-lock"> </span><strong>&nbsp; Nombre:</strong>
  <%= @product.nombre %>
</p>

<p>
  <span class="glyphicon glyphicon-tag"></span><strong>&nbsp; Descripcion:</strong>
  <%= @product.descripcion %>
</p>

<p>
  <span class="glyphicon glyphicon-pushpin"></span><strong>&nbsp; Categoria:</strong>
  <%= @product.categoria %>
</p>

<p>
  <span class="glyphicon glyphicon-usd"></span><strong>&nbsp; Precio:</strong>
  <%= @product.precio %>
</p>

<p>
  <span class="glyphicon glyphicon-barcode"></span><strong>&nbsp; Vendido:</strong>
  <%= @product.vendido %>
</p>

<%= link_to 'Edit', edit_product_path(@product), :class => "btn btn-info" %> |
<%= link_to 'Back', products_path, :class => "btn btn-info" %>
